@import 'styles/size';
@import 'styles/mixin';

.myRecipe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myRecipeContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: calc(100vh - ($navbar-height + $footer-height));
  width: 100%;
  max-width: 1200px;
  position: relative;
}

