@import 'styles/size';
@import 'styles/mixin';

.myRecipe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myRecipeContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: calc(100vh - ($navbar-height + $footer-height));
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.myRecipeCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  column-gap: 20px;
  row-gap: 20px;
  @include md {
    grid-template-columns: repeat(4, 1fr);
  }
}
