.recipeDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;

  gap: 40px;
}

.recipeImg {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
