.recipeItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    border: 1px solid var(--black100);
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: var(--nanum-gothic);
  font-size: var(--text-sm);
  padding: 8px 0;
  color: var(--black500);
}

.category {
  word-spacing: 1px;
}

.name {
  font-weight: var(--font-bold);
  color: var(--black100);
}

.otherDetails {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 2px;
  opacity: 0.8;
  font-size: var(--text-sm);
}

.detailItem {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;

  svg {
    height: 15px;
    width: 15px;
    stroke-width: 2;
  }
}
