.bio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-size: var(--text-sm);
  font-family: var(--nanum-gothic);
  font-weight: var(--font-bold);
  img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    object-fit: cover;
  }
}

.bioContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bioSubtitle {
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
}
