@import 'styles/size';

.bookmark {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - ($navbar-height + $footer-height));
}

.bookmarkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 1200px;
  padding: 80px 0;
}

.editButton {
  width: 100%;
  button {
    float: right;
  }
  svg {
    height: 15px;
    width: 15px;
  }
}
