.iconWithLabel {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  font-family: var(--nanum-gothic);
  font-size: var(--text-xxs);
  font-weight: var(--font-medium);
  svg {
    width: 27px;
    height: 27px;
    color: var(--primaryColor1100);
    path {
      stroke-width: 1.3;
    }
  }
}
