@import 'styles/size';
.editRecipe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editRecipeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: calc(100vh - ($navbar-height + $footer-height));
  width: 100%;
  max-width: 1200px;
}
