@import 'styles/size';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: calc(100vh - ($navbar-height + $footer-height));
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-width: 300px;
}

.inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--nanum-gothic);
  font-size: var(--text-xs);
  input {
    outline: none;
    padding: 10px;
  }
}

.submitButton {
  width: 100%;
  padding: 13px 0;
  margin-top: 20px;
  border: none;
  background-color: var(--primaryColor1000);
  border-radius: 2px;
  color: var(--white100);
  opacity: 0.9;
  font-weight: var(--font-semibold);
  letter-spacing: 1.5px;
  font-size: var(--text-xs);

  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.others {
  display: flex;
  flex-direction: row;
  gap: 10px;
  min-width: 300px;
  font-family: var(--nanum-gothic);
  font-size: var(--text-xs);
  a {
    text-decoration: none;
    color: var(--black300);
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}
