.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: none;
  &[data-disabled='true'] {
    pointer-events: none;
    opacity: 0.7;
  }
}

/* Size */
.sm {
  padding: 10px;
  font-size: var(--text-xs);
  font-weight: var(--font-light);
  svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
  }
}
.md {
  padding: 12px;
  font-size: var(--text-sm);
  font-weight: var(--font-normal);
  svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
  }
}
.lg {
  padding: 14px;
  font-size: var(--text-md);
  font-weight: var(--font-bold);
  svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
  }
}

/* Variant */
.contained {
  color: var(--white200);
  background: var(--primaryColor1000);
  border: none;
  transition: all 0.2s;
  svg {
    color: var(--white200);
    background: var(--primaryColor1000);
  }
  &:hover,
  &:active {
    color: var(--white100);
    background: var(--primaryColor1100);
  }
}

.outlined {
  color: var(--primaryColor1000);
  border: 1px solid var(--primaryColor1000);
  font-weight: var(--font-semibold);
  transition: all 0.2s;
  background: var(--white100);
  border-radius: 5px;
  &:hover,
  &:active {
    border: 1px solid var(--primaryColor1100);
    color: var(--primaryColor1100);
  }
}

.text {
  color: var(--primaryColor1000);
  font-weight: var(--font-semibold);
  transition: all 0.2s;
  border: none;
  background: none;
  &:hover,
  &:active {
    border-radius: 5px;
    background-color: var(--white200);
    color: var(--primaryColor1100);
  }
}
