.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: none;
  &[data-disabled='true'] {
    pointer-events: none;
    background-color: var(--whiteColor400);
  }
}

/* Size */

.sm {
  padding: 10px;
  font-size: var(--text-xs);
  font-weight: var(--font-light);
  svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
  }
}
.md {
  padding: 12px;
  font-size: var(--text-sm);
  font-weight: var(--font-normal);
  svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
  }
}
.lg {
  padding: 14px;
  font-size: var(--text-md);
  font-weight: var(--font-bold);
  svg {
    width: 18px;
    height: 18px;
    stroke-width: 2;
  }
}

/* Variant */
.contained {
  color: var(--white200);
  background: var(--primaryColor1000);
  border: none;
  transition: all 0.2s;
  svg {
    color: var(--white200);
    background: var(--primaryColor1000);
  }
  &:hover,
  &:active {
    color: var(--white100);
    background: var(--primaryColor1100);
  }
}

.outlined {
  color: var(--primaryColor1000);
  border: 1px solid var(--primaryColor1000);
  font-weight: var(--font-semibold);
  transition: all 0.2s;
  background: var(--white100);
  border-radius: 5px;
  &:hover,
  &:active {
    border: 1px solid var(--primaryColor1100);
    color: var(--primaryColor1100);
  }
}

.text {
  color: var(--primaryColor1000);
  font-weight: var(--font-semibold);
  transition: all 0.2s;
  border: none;
  background: none;
  &:hover,
  &:active {
    border-radius: 5px;
    background-color: var(--white200);
    color: var(--primaryColor1100);
  }
}

// .contained-outlined {
//   color: var(--whiteColor200);
//   background-color: rgba(21, 21, 21, 0.9);
//   border: 1px solid var(--blackColor500);
//   &:hover {
//     border: 1px solid var(--whiteColor200);
//   }
//   &:active {
//     border: 1px solid var(--whiteColor200);
//   }
// }

// .text-outlined,
// .text-color {
//   color: var(--white300);
//   opacity: 0.6;
//   background: none;
//   border: 2px solid transparent;
//   transition: border 0.2s;
//   svg {
//     opacity: 0.8;
//   }
// }

// .text-outlined {
//   &:hover {
//     border: 2px solid var(--blackColor500);
//     opacity: 1;
//     svg {
//       opacity: 1;
//     }
//   }
//   &:active {
//     border: 2px solid transparent;
//   }
//   &[data-selected='true'] {
//     opacity: 1;
//     svg {
//       opacity: 1;
//       stroke-width: 3;
//     }
//   }
// }

// .text-color {
//   &[data-selected='true'] {
//     color: var(--whiteColor300);
//     opacity: 1;
//     svg {
//       opacity: 1;
//       stroke-width: 3;
//     }
//   }
//   &:hover {
//     color: var(--primaryColor100);
//     opacity: 1;
//     svg {
//       opacity: 1;
//     }
//   }
// }
