@import '../../styles/size';

.footer {
  min-height: $footer-height;
  background-color: var(--white200);
  color: var(--black500);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: var(--text-xs);
  font-weight: var(--font-normal);
  font-family: var(--besley);
}

.footerMediaIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  svg {
    color: var(--black500);
    height: 20px;
    width: 20px;
    opacity: 0.8;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}
