.webLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
}

.disable {
  pointer-events: none;
}

.logo {
  font-family: var(--bonheur-royale);
  color: var(--primaryColor1100);
  font-size: 26px;
  font-weight: var(--font-normal);
  letter-spacing: 1.7px;
}
