.webLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;

  svg {
    color: var(--primaryColor1000);
    width: 130px;
    height: auto;
  }
}

.disable {
  pointer-events: none;
}
