@import 'styles/size';

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - ($navbar-height + $footer-height));
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 1200px;
  padding: 80px 0;
}

.profileForm {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.profileContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.innerContent {
  padding: 30px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--nanum-gothic);
  font-size: var(--text-xs);
  input {
    outline: none;
    padding: 10px;
  }
}

.profileButton {
  margin-top: 30px;
  min-height: 45px;
}
