@import 'styles/mixin';

.recipeIngredients {
  padding: 30px 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recipeIngredientsContainer {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  textarea {
    resize: none;
    outline: none;
    padding: 10px;
  }
}

.ingredientBucket {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  @include lg {
    align-items: flex-start;
  }
}

.ingredientBucketList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  @include lg {
    flex-direction: row;
  }
}

.reorderIcon {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  svg {
    color: var(--primaryColor500);
    cursor: grab;
  }
}

.ingredientBucketName {
  height: 40px;
  padding: 10px;
}

.subIngredientList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subIngredientItems {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subIngredientItem {
  height: 40px;
  padding: 10px;
}

.subIngredientDetails {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.subIngredientButton {
  margin-right: 52px;
}
