@import 'styles/mixin';

.recipeGeneral {
  padding: 30px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recipeImage {
  margin: auto;
}

.recipeImageUploader {
  height: 150px;
  width: 150px;
}

.fieldsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  label > p {
    display: none;
  }
  @include lg {
    label > p {
      display: block;
      white-space: nowrap;
    }
  }
}

.inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--nanum-gothic);
  font-size: var(--text-xs);
  input {
    outline: none;
    padding: 10px;
  }
  textarea {
    resize: none;
    outline: none;
    padding: 10px;
  }
}

.newInputField {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-family: var(--nanum-gothic);
  font-size: var(--text-xs);
  input {
    outline: none;
    padding: 10px;
    width: 60px;
    text-align: end;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.selectField {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-family: var(--nanum-gothic);
  font-size: var(--text-xs);
  select {
    padding: 10px;
    appearance: none;
    width: 75px;
    outline: none;
    overflow: hidden;
  }
}
