@import '../../styles/size';
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;500;600;700;800;900&display=swap');

.nav {
  border-top: 30px solid var(--primaryColor1000);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  padding: 0 40px;
}

.navLists {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  svg {
    height: 18px;
    width: 18px;
  }
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  opacity: 0.8;
  cursor: pointer;
  color: var(--black500);
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  font-family: var(--gowun-batang);
  &:hover {
    opacity: 1;
  }
}
