@import 'styles/size';
@import 'styles/mixin';

.nav {
  border-top: 30px solid var(--primaryColor1000);
  display: flex;
  align-items: center;
  justify-content: center;
  height: $navbar-height;
  border-bottom: 0.5px solid var(--primaryColor100);
  padding: 0 20px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navLists {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  svg {
    height: 18px;
    width: 18px;
  }
  @include lg {
    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  opacity: 0.8;
  cursor: pointer;
  color: var(--black500);
  font-size: var(--text-xs);
  font-weight: var(--font-semibold);
  font-family: var(--gowun-batang);
  &:hover {
    opacity: 1;
  }
  @include lg {
    font-size: var(--text-sm);
  }
}
