:root {
  --primaryColor100: #ede0d4;
  --primaryColor200: #e6ccb2;
  --primaryColor300: #e6ccb2;
  --primaryColor400: #e2c2a2;
  --primaryColor500: #ddb892;
  --primaryColor600: #c7a17d;
  --primaryColor700: #b08968;
  --primaryColor800: #986f51;
  --primaryColor900: #8c6245;
  --primaryColor1000: #7f5539;
  --primaryColor1100: #563624;

  --black100: #000000;
  --black200: #0e0906;
  --black300: #1d120c;
  --black400: #2b1b12;
  --black500: #3a2418;

  --white100: #ffffff;
  --white200: #f9f5f1;
  --white300: #f3ebe2;
}
