:root {
  /* FontSize */
  --text-xxs: 10px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-xxl: 28px;
  --text-xxxl: 32px;

  /* Fort Weight */
  --font-extraThin: 100;
  --font-thin: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /* Fort Family */
  --nanum-gothic: 'Nanum Gothic', sans-serif;
  --gowun-batang: 'Gowun Batang', serif;
  --noto-serif: 'Noto Serif KR', serif;
  --besley: 'Besley', serif;
  --bonheur-royale: 'Bonheur Royale', cursive;
}
